{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static '/css/all.css' %}">
    <link rel="stylesheet" href="{% static '/css/create_profile.css' %}">
    <title>Profile</title>
</head>
<body>
    <div id = 'wrapper'>
        <form action="" method = 'POST' enctype = 'multipart/form-data'>{% csrf_token %}
            <section id = 'title'>
                <h1>Create Profile</h1>
            </section>
            <section id = 'item'>
                <div class = item>
                    <label>ユーザー名</label>
                    <div>
                        {{ form.nickname }}
                        {{ form.nickname.errors }}
                    </div>
                </div>
                <div id = 'gender' class = 'item'>
                    <label>性別</label>
                    {{ form.gender }}
                    {{ form.gender.errors }}
                </div>
                <div class = 'item'>
                    <label>おすすめアニメを登録してください</label>
                    <div>
                        {{ form.favarite_anime }}
                        {{ form.favarite_anime.errors }}
                    </div>
                </div>
                <div class = item>
                    <label>プロフィール画像をアップしてください</label>
                    <div>
                        {{ form.avator }}
                        {{ form.avator.errors }}
                    </div>
                </div>
            </section>
            <section id = 'button'>
                <input type="submit" value = '登録'>
            </section>
        </form>
    </div>
</body>
</html>